strict-ssl=false
# @garrio:registry=https://git.tutum.dev/api/v4/packages/npm/
# //git.tutum.dev/api/v4/packages/npm/:_authToken=TxzFEJFzMM4EgeYoa8YS

# //git.tutum.dev/api/v4/projects/32/packages/npm/:_authToken=dyHRo9H3heEJSG-uaJrj
# //git.tutum.dev/api/v4/projects/33/packages/npm/:_authToken=qVWWfTCZy293CoXxYZFf
# //git.tutum.dev/api/v4/projects/34/packages/npm/:_authToken=ofUhsrJ6kgMupwqANnMS
# //git.tutum.dev/api/v4/projects/35/packages/npm/:_authToken=oX3e9Y6veauekHFc4x5R
# //git.tutum.dev/api/v4/projects/36/packages/npm/:_authToken=hm-ZF9ZMtKRsfSvL2F-y
# //git.tutum.dev/api/v4/projects/37/packages/npm/:_authToken=aF9-UuzpAwA9AxTkf3sV
# //git.tutum.dev/api/v4/projects/38/packages/npm/:_authToken=zbB2BLuiU2BLTdTCZjgA
# //git.tutum.dev/api/v4/projects/39/packages/npm/:_authToken=nw9d7uxWB3s4xJLxcbBo
# //git.tutum.dev/api/v4/projects/41/packages/npm/:_authToken=y37xQjNnhRHpv9bw5sfE
